<!doctype html>
<html>
    <head>
        <title>Socket Chat</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>

        <div class="columns is-mobile">
            <div class="column"></div>
            <div id="app" class="column is-four-fifths">
                <br>
                <h1 class="title is-1">Chat</h1>
                <div id="chatbox" class="control chatbox">
                    <p v-for="m in messages" class="has-background-light">{{ m }}</p>
                    <!-- <p class="has-background-light">message</p> -->
                    <!-- <p class="has-background-light">In case anyone, for any reason, is wondering what security around Area 51 is like: perimeter is patrolled by armed guards, surveillance cameras & motion detectors, the latter of which are placed on public land to notify guards of your approach from afar.</p> -->
                </div>
                <div class="field has-addons is-expanded">
                    <div class="control is-expanded">
                        <input v-model="text" @keyup.enter="submit()" class="input is-large" type="text" placeholder="Message">
                    </div>
                    <div class="control">
                        <button @click="submit()" class="button is-large is-info">Send</button>
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>

        <script type="text/x-template" id="bubble">
            <p class="has-background-light">{{ message }}</p>
        </script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="/main.js"></script>
    </body>
</html>
