<!doctype html>
<html>
    <head>
        <title>Socket Chat</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>

        <div class="columns is-mobile">
            <div class="column is-mobile"></div>
            <div id="app" class="column is-mobile is-four-fifths">
                <br>
                <div v-bind:class="{init: hide}" class="control">
                    <h1 class="title is-1" style="display: inline;">Chatting as </h1>
                    <input v-if="hide" v-model="name" @keyup.enter="login()" class="input is-large name" type="text" placeholder="Name">
                    <h1 v-if="!hide" class="title is-1" style="display: inline;">{{ name }}</h1>
                </div>
                <div v-if="!hide">
                    <div class="control chatbox">
                        <div v-model="messages" v-for="msg in messages">
                            <div v-model="self" v-if="msg.id == self" class="align-right">
                                <p class="has-background-light messageBox">{{ msg.msg }}</p>
                                <span class="tag is-large">{{ msg.name[0] }}</span>
                            </div>
                            <div v-else class="align-left">
                                <span class="tag is-large">{{ msg.name[0] }}</span>
                                <p class="has-background-light messageBox">{{ msg.msg }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="field has-addons is-expanded">
                        <div class="control is-expanded">
                            <input v-model="text" @keyup.enter="submit()" class="input is-large" type="text" placeholder="Message">
                        </div>
                        <div class="control">
                            <button @click="submit()" class="button is-large is-info">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-mobile"></div>
        </div>

        <!-- <script type="text/x-template" id="bubble">
            <p class="has-background-light">{{ message }}</p>
        </script> -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="/main.js"></script>
    </body>
</html>
